
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header, nav, main, footer {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}


header {
    background-color: #ffb6c1; /* Light Pink */
    color: #fff;
    text-align: center;
}

nav {
    background-color: #87ceeb; /* Sky Blue */
    border-bottom: 2px solid #ddd;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    color: #f0f8ff; /* Light Sky Blue */
}

main {
    padding-top: 50px;
}

footer {
    background-color: #ffb6c1; /* Light Pink */
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #87ceeb; /* Sky Blue */
    color: #fff;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ffb6c1; /* Light Pink */
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff69b4; /* Hot Pink */
}
